img.alma {
    position: absolute;
    margin-left: -397px;
    margin-top: -48px;
    height: 50px;
}
img.reslogo {
    position: absolute;
    margin-left: -1575px;
    height: 33px;
    margin-top: -42px;
}