
<div class="row">
</div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12" >
          <div class="score_container top-buffer" *ngFor="let val of filteredItems">
            <div href="#Tab11" *ngIf="val.moduleName=='Publications'">
              <a href="" target="_self" class="score_card">
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Faculty'">
              <a routerLink="/faculties" target="_self" class="score_card">
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Scholars'">
              <a id="Tab12" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Sponsored Projects'">
              <a id="Tab13" target="_self" class="score_card">
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{counterMap['Sponsored Projects']}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Consultancy Projects'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score" >{{counterMap['Consultancy Projects']}}</p> 
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Incubation Startups'">
              <a href="" target="_self" class="score_card">
             
                <h3 class="score_name">{{val.moduleName}}</h3>
                <span class="digital-counter">{{counterMap['Incubation Startups']}}</span>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Patents'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Copyrights'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Trademarks'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Editorship'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Guideship'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Membership'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Books'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Conferences'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Digital Content'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='MOU'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Technology Licensing'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            <div *ngIf="val.moduleName=='Products'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{val.totalCount}}</p>
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>

            <div *ngIf="val.moduleName=='EDP'">
              <a href="" target="_self" class="score_card">
                <!-- publication-dashboard.html -->
                <h3 class="score_name">{{val.moduleName}}</h3>
                <p class="total_score">{{counterMap['EDP']}}</p>
                <!-- <span class="digital-counter" style="width: 50%;">{{counterMap['EDP']}}</span>  -->
                <div class="secondary_score">
                  <table style="width: 100%" width="100%">
                    <tr>
                      <td>{{val.lineItem1Text}}</td>
                      <td class="text-bold">{{val.lineItem1Count}}</td>
                    </tr>
                    <tr>
                      <td>{{val.lineItem2Text}}</td>
                      <td class="text-bold">{{val.lineItem2Count}}</td>
                    </tr>
                  </table>
                </div>
              </a>
           
            </div>
            
         
          </div>
        </div>
        </div>
      </div>
