<!-- footer start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 footer-copyright">
      <p class="mb-0">Copyright 2022 CIntelligence Private Limited</p>
    </div>
    <div class="col-md-6">
      <ul class="social_link">
        <li><a href="#" target="_blank" class="fa fa-facebook-square text-white"></a></li>
        <li><a href="#" target="_blank" class="fa fa-linkedin-square text-white"></a></li>
        <li><a href="#" target="_blank" class="fa fa-twitter-square text-white"></a></li>
        <li><a href="#" target="_blank" class="fa fa-youtube-play text-white"></a></li>
      </ul>
    </div>
  </div>
</div>